soar.ws.knowyourneighbours/WebContent/wsdl/KnowYourNeighbours.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://knowyourneighbours.ws.soar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://knowyourneighbours.ws.soar" xmlns:intf="http://knowyourneighbours.ws.soar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://knowyourneighbours.ws.soar" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getNeighbours">
    <complexType>
     <sequence>
      <element name="country" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNeighboursResponse">
    <complexType>
     <sequence>
      <element name="getNeighboursReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNeighboursRequest">

      <wsdl:part element="impl:getNeighbours" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNeighboursResponse">

      <wsdl:part element="impl:getNeighboursResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="KnowYourNeighbours">

      <wsdl:operation name="getNeighbours">

         <wsdl:input message="impl:getNeighboursRequest" name="getNeighboursRequest"/>

         <wsdl:output message="impl:getNeighboursResponse" name="getNeighboursResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="KnowYourNeighboursSoapBinding" type="impl:KnowYourNeighbours">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNeighbours">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNeighboursRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNeighboursResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="KnowYourNeighboursService">

      <wsdl:port binding="impl:KnowYourNeighboursSoapBinding" name="KnowYourNeighbours">

         <wsdlsoap:address location="http://localhost:8080/soar.ws.knowyourneighbours/services/KnowYourNeighbours"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
